footer {
  margin-top: 5em;
  color: white;
  background-color: black;
  padding: 1em;
  font-size: smaller;
}

footer a {
  padding: 0.5em;
  color: white;
}

footer a:hover {
  background-color: grey;
}