article {
  /* border: 1px solid black; */
  width: fit-content;
  margin: 0.5em;
}

form label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

form label>*:last-child {
  margin-left: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form>* {
  margin: 0.5em;
}

label>*:required:invalid {
  box-shadow: 10px 0 0 var(--error);
}
label>*:required:not(:invalid) {
  box-shadow: 10px 0 0 var(--success);
}
@media only screen and (max-width: 760px) {
  form label>*:last-child {
    margin-left: 0;
    width: 100%;
  }

  form>* {
    margin: 0.5em;
    width: fit-content;
  }
}